:root {
    --mainColor1: #ffff00;
    --mainColor2: #a6a6a6;
    --mainColor3: #ffffff;
    --mainColor4: #6c7003;
    --mainColor5: rgba(0, 0, 0, 0.725);
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

/*
font-family: 'Abril Fatface', cursive;
font-family: 'Open Sans', sans-serif;
*/








body {
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    background: url(https://the-sunshining.github.io/sunshining-photography/img/sun_01.jpg) no-repeat center center fixed; 
    background-size: cover;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  font-weight: lighter;
}
p {
  font-family: 'Open Sans', sans-serif;
}
img {
  width: 100%;
}










header {
  margin-top: 0px;
    text-align: center;
    min-width: 95vw;

    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
}
.header_h1 {
color: yellow;
background-color: rgba(255, 0, 0, 0.777);
/* animation: headerAN;
animation-iteration-count: infinite;
animation-duration: 5s;
*/
}
@keyframes headerAN {
  0% {border: 5px solid var(--mainColor2); color: var(--mainColor1);}
  25% {border: 5px solid greenyellow; color: red;}
  50% {border: 5px solid green; color: orange;}
  75% {border: 5px solid red; color: purple;}
  100% {border: 5px solid var(--mainColor2); color: var(--mainColor1);}
}














button {
font-size: 20px;
padding: 10px;
border-radius: 20px;
}
button:hover {
  animation-name: buttonAN;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes buttonAN {
0% {background-color: var(--mainColor1);}
25% {background-color: var(--mainColor4);}
50% {background-color: var(--mainColor1);}
75% {background-color: var(--mainColor4);}
100% {background-color: var(--mainColor1);}
}















section {
  position: relative;
    min-height: 100px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 20px;
    overflow: hidden;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.555);
    border-left: 3px solid black;
    border-right: 3px solid black;
}
section:hover {
background-color: rgba(255, 255, 255, 0.777);
}
div {
  padding: 20px;
}
.left_half {
    float: left;
    width: 45%;
  }
  .right_half {
    float: right;
    width: 45%;
  }

.ShareBox, .Special {
  padding: 20px;
  background-color: white;
  border-radius: 20px;
}
  






















footer {
  background-color: var(--mainColor5);
  position: relative;
    min-height: 100px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 20px;
    overflow: hidden;
    border-radius: 25px;
  color: var(--mainColor3);
}














/* Borders or Dividers: */

 /* Rounded border */
 hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
  max-width: 100%;
  width: 90%;
}
  








  /* ScrollBar Style! */
 
  ::-webkit-scrollbar {
    width: 16px;
  }
  ::-webkit-scrollbar-track {
    background: var(--mainColor4);
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--mainColor1);
    box-shadow: 0 -100vh 0 100vh var(--mainColor2), 0 0 15px 5px black;
    border-radius: 20px;
  }



  .Prev-and-Upcoming {
    width: 20%;
    min-height: 300px;
    background-color: wheat;
    float: left;
    border: 3px solid yellow;
  }